[mysqld]
max_allowed_packet = 16M
group_concat_max_len = 8192
max_connections = 200

[innodb]
innodb_file_format = BARRACUDA
innodb_large_prefix = 1
innodb_file_per_table = 1
innodb_buffer_pool_size = 2048M
